<div class="jumbotron">
  <div class="container">
    <h3>余りがちな材料で簡単スイーツ！</h3>
  </div>
</div>
<div class="search-form">
  <%= search_form_for @search, url: leftovers_path do |f|%>
    <%= f.label :name_cont, '材料名' %>
    <%= f.search_field :name_cont %>
    <%= f.submit %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-12" style="height:500px; width:600px; overflow-y:scroll">
    <table class="table table-striped">

      <thead class="thead-light">
        <tr>
          <th>イメージ</th>
          <th>食材</th>
          <th><%= sort_link(@search, :limit, '消費期限') %></th>
          <th>スイーツ</th>
        </tr>
      </thead>

      <tbody>
        <% @leftovers.each do |ingredient| %>
          <tr>
            <td><%= image_tag "#{ingredient.image}.jpg", width: '80px', height: '80px' %></td>
            <td><%= ingredient.name %></td>
            <td><%= ingredient.limit %>日</td>
            <td><%=link_to "→#{ingredient.name}の簡単消費レシピ", plusmenu_path(ingredient.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
