<div class="jumbotron">
  <div class="container">
    <h3>Amari_Arrange</h3>
    <p>スイーツ作りなどで余った材料を使って別のスイーツを作ろう</p>
  </div>
</div>
<div class="search-form" >
  <%= search_form_for @q, url: leftovers_path, id:"ingredient_form", remote:false do |f|%>
    <%= f.label :othername_cont, '材料名' %>
    <%= f.search_field :othername_cont %>
    <%= f.submit %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-12" style="height:500px; width:600px; overflow-y:scroll">
    <table class="table table-striped">

      <thead class="thead-light">
        <tr>
          <th>イメージ</th>
          <th>食材</th>
          <th><%= sort_link(@q, :limit, '消費期限') %></th>
          <th>レシピ一覧</th>
        </tr>
      </thead>

      <tbody id='ingredient_main'>
        <% @leftovers.each do |ingredient| %>
          <tr>
            <td><%= image_tag "#{ingredient.image}.jpg", width: '80px', height: '80px' %></td>
            <td><%= ingredient.name %></td>
            <td><%= ingredient.limit %>日</td>
            <td><%=link_to "→#{ingredient.name}の簡単消費レシピ", plusmenu_path(ingredient.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
