<div class="jumbotron">
  <div class="container">
    <h3>プラスで簡単スイーツ</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="height:500px; overflow-y:scroll; overflow-x:scroll;">
    <table class="table table-striped">

      <thead class="thead-light">
        <tr>
          <th>イメージ</th>
          <th>料理名</th>
          <th>追加材料</th>
          <th width="130"><%= sort_link(@q, :time, "かかる時間で並び替え") %> </th>
          <th width="300">備考</th>
          <th width='150'>詳細レシピ(外部サイト)</th>
        </tr>
      </thead>

      <tbody>
        選択中の材料→<%= @target_ingredient.name %>
        <% @target_recipes.each do |recipe| %>
          <tr>
            <td><%= image_tag "#{recipe.image}.jpg", width: '80px', height: '80px' %></td>
            <td><%= recipe.title %></td>
            <td>
              <% recipe.ingredients.all.each do |ingredient| %>
                <% unless ingredient == @target_ingredient %>
                  +<%= ingredient.name %>
                <% end %>
              <% end %>
            </td>
            <td><%= recipe.time %>分</td>
            <td><%= recipe.remarks %></td>
            <td><%=link_to "#{recipe.title}", recipe.url %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
  <%=link_to '一覧に戻る', leftovers_path, class:'btn btn-primary'%>
</div>